* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D9DD92;
    text-align: center;
}

.game_container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}


.box {
    width: 18vmin;
    height: 18vmin;
    border-radius: 1rem;
    background-color: hwb(2 42% 15%);
    font-size: 8vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(186, 67%, 11%);
}

#play-again {
    font-size: 2rem;
    background-color: hsl(186, 67%, 11%);
    color: #D9DD92;
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin-top: 2rem;
    cursor: pointer;
}
#reset {
    font-size: 2rem;
    background-color: hsl(186, 67%, 11%);
    color: #D9DD92;
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin-top: 2rem;
    cursor: pointer;
}

#msg {
    font-size: 3rem;
    color: hsl(186, 67%, 11%);
    margin-top: 2rem;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 2rem;
    flex-direction: column;
}
.hide {
    display: none;
}